<?xml version="1.0" encoding="utf-8"?>
<!-- Este es el manifiesto principal de la aplicación Android. Aquí se definen
     componentes clave como el nombre de la aplicación, actividades principales,
     permisos y metadatos. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Elemento <application>: Define las configuraciones globales de la aplicación -->
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManagementApp"
        tools:targetApi="31">

        <!-- Elemento <activity>: Define una actividad, en este caso MainActivity -->
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TaskManagementApp">
            <!-- Filtro de intentos: indica que esta es la actividad de inicio -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>